<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.x4a42.volksempfaenger"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".VolksempfaengerApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Volksempfaenger" >
        <activity android:name=".ui.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.AddSubscriptionActivity"
            android:label="@string/title_add_subscription"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name=".ui.DebugActivity" />
        <activity
            android:name=".ui.DeleteSubscriptionActivity"
            android:label="@string/title_delete_subscription"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".ui.EditSubscriptionActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.LicenseActivity"
            android:theme="@style/Theme.Settings" />
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_settings"
            android:theme="@style/Theme.Settings" />
        <activity android:name=".ui.ViewSubscriptionActivity" />
        <activity
            android:name=".ui.ViewEpisodeActivity"
            android:launchMode="singleTop" />

        <service android:name=".service.CleanCacheService" />
        <service android:name=".service.DownloadService" />
        <service android:name=".service.UpdateService" />
        <service android:name=".service.PlaybackService" />

        <receiver android:name=".receiver.BootCompletedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.DownloadCompleteReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.DownloadNotificationClickedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".data.VolksempfaengerContentProvider"
            android:authorities="net.x4a42.volksempfaenger"
            android:exported="false" />
    </application>

</manifest>