<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	  package="net.x4a42.volksempfaenger"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10" />

    <application
    	  android:name=".VolksempfaengerApplication"
          android:icon="@drawable/icon"
          android:label="@string/app_name">
        <activity
        	  android:name=".ui.AddSubscriptionActivity"
        	  android:label="@string/title_add_subscription"
        	  android:theme="@android:style/Theme.Dialog"
        	  android:windowSoftInputMode="stateVisible" />
       	<activity
        	  android:name=".ui.DeleteSubscriptionActivity"
        	  android:label="@string/title_delete_subscription"
        	  android:theme="@android:style/Theme.Dialog" />
        <activity
              android:name=".ui.DownloadQueueActivity"
              android:label="@string/app_name" />
        <activity
              android:name=".ui.EditSubscriptionActivity"
              android:label="@string/app_name" />
        <activity
        	  android:name=".ui.ListenQueueActivity"
        	  android:label="@string/app_name" />
        <activity
        	  android:name=".ui.SettingsActivity"
        	  android:label="@string/title_settings" />
        <activity
        	  android:name=".ui.SubscriptionListActivity"
        	  android:label="@string/title_subscription_list" />
        <activity
              android:name=".ui.ViewSubscriptionActivity"
              android:label="@string/app_name" />
        <activity
        	  android:name=".ui.VolksempfaengerActivity"
        	  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		</activity>
        <receiver android:name=".data.BootCompletedReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
        <receiver android:name=".net.DownloadCompleteReceiver">
        	<intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
		</receiver>
    </application>
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
</manifest>